<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Crown hotel</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="index3.less" />
        <link rel="stylesheet" href="index3.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
        <link rel="stylesheet" href="css/animate.css" />

        <link rel="stylesheet" href="css/owl.carousel.min.css" />
        <link rel="stylesheet" href="css/owl.theme.default.min.css" />
        <link rel="stylesheet" href="css/magnific-popup.css" />

        <link rel="stylesheet" href="css/aos.css" />

        <link rel="stylesheet" href="css/ionicons.min.css" />

        <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="css/jquery.timepicker.css" />

        <link rel="stylesheet" href="css/flaticon.css" />
        <link rel="stylesheet" href="css/icomoon.css" />
        <link rel="stylesheet" href="css/style.css" />
      
    </head>
    <body>
        <div class="info">
            <img width="100px" src="/img/logo.png" />
        </div>

        <nav
            class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
            id="ftco-navbar"
        >
            <div class="container">
                <a class="navbar-brand" href="index.html"
                    ><img width="30px" src="/img/am_logo_green.png" />
                    &nbsp;Crown hotel</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#ftco-nav"
                    aria-controls="ftco-nav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="oi oi-menu"></span> Menu
                </button>
                <div class="col-xl-2 col-lg-2"></div>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="plans.html" class="nav-link">예약하기</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                마이페이지 <i class="ti-angle-down"></i>
                            </a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a class="dropdown-item" href="myBookList.html"
                                    >내예약리스트 페이지</a
                                >
                                <a class="dropdown-item" href="getMyRo.html"
                                    >내방 예약 자세히보기</a
                                >
                                <a class="dropdown-item" href="getMyRoomBook.html"
                                    >내시설 예약 자세히보기</a
                                >
                                <a class="dropdown-item" href="getRoomCancleList.html"
                                    >내시설 취소 자세히보기</a
                                >
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                시설소개 <i class="ti-angle-down"></i>
                            </a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a class="dropdown-item" href="bookRoom.html"
                                    >방예약 페이지</a
                                >
                                <a class="dropdown-item" href="bookFacility.html"
                                    >시설예약페이지</a
                                >
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                고객센터 <i class="ti-angle-down"></i>
                            </a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a class="dropdown-item" href="getCsList.html"
                                    >1:1문의 리스트</a
                                >
                                <a class="dropdown-item" href="getCs.html"
                                    >1:1문의 자세히보기</a
                                >
                                <a class="dropdown-item" href="insertCs.html"
                                    >1:1문의 작성하기</a
                                >
                                <a class="dropdown-item" href="updateCs.htmls"
                                    >1:1문의 수정하기</a
                                >
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                관리자 페이지<i class="ti-angle-down"></i>
                            </a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a class="dropdown-item" href="index.html"
                                    >메인 페이지</a
                                >
                                <a
                                    class="dropdown-item"
                                    href="myBookList.html"
                                >
                                    예약 리스트 페이지</a
                                >
                                <a
                                    class="dropdown-item"
                                    href="single-blog.html"
                                >
                                    예약 자세히보기</a
                                >
                                <a
                                    class="dropdown-item"
                                    href="single-blog.html"
                                >
                                    현재 객실 상황</a
                                >
                                <a
                                    class="dropdown-item"
                                    href="single-blog.html"
                                >
                                    현재 시설 상황</a
                                >
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="login.html" class="nav-link">회원로그인</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->

        <section class="home-slider owl-carousel">
            <div
                class="slider-item"
                style="background-image: url(images/view\(1\).jpg)"
            >
                <div class="overlay"></div>
                <div class="container">
                    <div
                        class="row no-gutters slider-text align-items-center justify-content-center"
                    >
                        <div class="col-md-12 ftco-animate text-center">
                            <div class="text mb-5 pb-3">
                                <h1 class="mb-3">
                                    CROWN HOTEL에 오신 것을 환영합니다
                                </h1>
                                <h2>호텔 및 리조트</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="slider-item"
                style="background-image: url(images/view\(2\).jpg)"
            >
                <div class="overlay"></div>
                <div class="container">
                    <div
                        class="row no-gutters slider-text align-items-center justify-content-center"
                    >
                        <div class="col-md-12 ftco-animate text-center">
                            <div class="text mb-5 pb-3">
                                <h1 class="mb-3">
                                    CROWN HOTEL에 오신 것을 환영합니다
                                </h1>
                                <h2>호텔 및 리조트</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="slider-item"
                style="background-image: url(images/view\(3\).jpg)"
            >
                <div class="overlay"></div>
                <div class="container">
                    <div
                        class="row no-gutters slider-text align-items-center justify-content-center"
                    >
                        <div class="col-md-12 ftco-animate text-center">
                            <div class="text mb-5 pb-3">
                                <h1 class="mb-3">
                                    CROWN HOTEL에 오신 것을 환영합니다
                                </h1>
                                <h2>호텔 및 리조트</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="slider-item"
                style="background-image: url(images/view\(4\).jpg)"
            >
                <div class="overlay"></div>
                <div class="container">
                    <div
                        class="row no-gutters slider-text align-items-center justify-content-center"
                    >
                        <div class="col-md-12 ftco-animate text-center">
                            <div class="text mb-5 pb-3">
                                <h1 class="mb-3">
                                    CROWN HOTEL에 오신 것을 환영합니다
                                </h1>
                                <h2>우리와 함께하세요</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br /><br /> <br /><br />

        <div>
            <div class="container">
                <h2>회원 가입</h2>
                <form action="./mypage.html" id="signup-form" novalidate>
                    <div class="form-group">
                        <label for="email"
                            >이메일 주소
                            <span class="badge badge-primary"
                                >필수</span
                            ></label
                        >
                        <input
                            type="email"
                            class="form-control"
                            name="email"
                            id="email"
                            required
                        />
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="password"
                            >비밀번호
                            <span class="badge badge-primary"
                                >필수</span
                            ></label
                        >
                        <input
                            type="password"
                            class="form-control"
                            name="password"
                            id="password"
                            autocomplete="new-password"
                            minlength="8"
                            pattern=".{8,}"
                            required
                        />
                        <small class="form-text text-muted"
                            >8자 이상으로 입력해주세요.</small
                        >
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="password-confirmation"
                            >비밀번호 확인
                            <span class="badge badge-primary"
                                >필수</span
                            ></label
                        >
                        <input
                            type="password"
                            class="form-control"
                            name="password-confirmation"
                            id="password-confirmation"
                            autocomplete="new-password"
                            minlength="8"
                            pattern=".{8,}"
                            required
                        />
                        <small class="form-text text-muted"
                            >확인을 위해 다시 한 번 비밀번호를 입력해주세요.</small
                        >
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="username"
                            >이름
                            <span class="badge badge-primary"
                                >필수</span
                            ></label
                        >
                        <input
                            type="text"
                            class="form-control"
                            name="username"
                            id="username"
                            required
                        />
                        <div class="invalid-feedback"></div>
                    </div>
                    <fieldset class="form-group">
                        <div class="form-check form-check-inline">
                            <input
                                type="radio"
                                class="form-check-input"
                                name="rank"
                                id="rank-premium"
                                value="premium"
                                checked
                            />
                            <label
                                class="form-check-label"
                                for="rank-premium"
                            >
                                프리미엄 회원
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                type="radio"
                                class="form-check-input"
                                name="rank"
                                id="rank-normal"
                                value="normal"
                            />
                            <label
                                class="form-check-label"
                                for="rank-normal"
                            >
                                일반 회원
                            </label>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="address">주소</label>
                        <input
                            type="text"
                            class="form-control"
                            name="address"
                            id="address"
                        />
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="tel">전화번호</label>
                        <input
                            type="tel"
                            class="form-control"
                            name="tel"
                            id="tel"
                            pattern="[0-9]{11}"
                        />
                        <small class="form-text text-muted"
                            >11자리 숫자로 입력해주세요. 예: 01133335555</small
                        >
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="gender">성별</label>
                        <select
                            class="form-control"
                            name="gender"
                            id="gender"
                        >
                            <option value="0" selected>답변하지 않음</option>
                            <option value="1">남성</option>
                            <option value="2">여성</option>
                            <option value="9">기타</option>
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="birthday">생년월일</label>
                        <input
                            type="date"
                            class="form-control"
                            name="birthday"
                            id="birthday"
                            pattern="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}"
                        />
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input
                                type="checkbox"
                                class="form-check-input"
                                name="notification"
                                id="notification"
                            />
                            <label
                                class="form-check-label"
                                for="notification"
                            >
                                알림을 받습니다
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        등록
                    </button>
                </form>
            </div>

            <footer class="ftco-footer ftco-bg-dark ftco-section">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">디럭스 호텔</h2>
                                <p>
                                    아주 먼 곳, 단어 산맥 뒤, 나라 Vokalia와 Consonantia에서
                                    멀리 떨어져, 눈먼 텍스트들이 살고 있습니다.
                                </p>
                                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                                    <li class="ftco-animate">
                                        <a href="#"><span class="icon-twitter"></span></a>
                                    </li>
                                    <li class="ftco-animate">
                                        <a href="#"><span class="icon-facebook"></span></a>
                                    </li>
                                    <li class="ftco-animate">
                                        <a href="#"><span class="icon-instagram"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4 ml-md-5">
                                <h2 class="ftco-heading-2">유용한 링크</h2>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#" class="py-2 d-block">블로그</a>
                                    </li>
                                    <li>
                                        <a href="#" class="py-2 d-block">객실</a>
                                    </li>
                                    <li>
                                        <a href="#" class="py-2 d-block">편의 시설</a>
                                    </li>
                                    <li>
                                        <a href="#" class="py-2 d-block">기프트 카드</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">개인정보</h2>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#" class="py-2 d-block">경력</a>
                                    </li>
                                    <li>
                                        <a href="#" class="py-2 d-block">회사 소개</a>
                                    </li>
                                    <li>
                                        <a href="#" class="py-2 d-block">문의하기</a>
                                    </li>
                                    <li>
                                        <a href="#" class="py-2 d-block">서비스</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">질문이 있으신가요?</h2>
                                <div class="block-23 mb-3">
                                    <ul>
                                        <li>
                                            <span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
                                        </li>
                                        <li>
                                            <a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                         
                        </div>
                    </div>
                </div>
            </footer>
            
            <!-- 로더 -->
            <div id="ftco-loader" class="show fullscreen">
                <svg class="circular" width="48px" height="48px">
                    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
                </svg>
            </div>
            
            <script src="js/jquery.min.js"></script>
            <script src="js/jquery-migrate-3.0.1.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.easing.1.3.js"></script>
            <script src="js/jquery.waypoints.min.js"></script>
            <script src="js/jquery.stellar.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/jquery.magnific-popup.min.js"></script>
            <script src="js/aos.js"></script>
            <script src="js/jquery.animateNumber.min.js"></script>
            <script src="js/bootstrap-datepicker.js"></script>
            <script src="js/jquery.timepicker.min.js"></script>
            <script src="js/scrollax.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
            <script src="js/google-map.js"></script>
            <script src="js/main.js"></script>
            
        </body>
    </html>