<html layout:decorate="~{layout2}">

<th:block layout:fragment="content">
<div class="container">

	<section class="home-slider owl-carousel">
		<div class="slider-item"
			style="background-image: url(images/view\(1\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="mb-3">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>호텔 및 리조트</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item"
			style="background-image: url(images/view\(2\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="mb-3">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>호텔 및 리조트</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item"
			style="background-image: url(images/view\(3\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="mb-3">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>호텔 및 리조트</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item"
			style="background-image: url(images/view\(4\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="mb-3">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>우리와 함께하세요</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<br />
	<br />

	<section class="ftco-booking">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<form action="#" class="booking-form">
						<div class="row">
							<div class="col-md-3 d-flex">
								<div
									class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap lora-uniquifier">
										<label for="#">Check-In Date</label> <input type="text"
											class="form-control checkin_date" placeholder="체크인 날짜" />
									</div>
								</div>
							</div>
							<div class="col-md-3 d-flex">
								<div
									class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap lora-uniquifier">
										<label for="#">Check-Out Date</label> <input type="text"
											class="form-control checkout_date" placeholder="체크아웃 날짜" />
									</div>
								</div>
							</div>
							<div class="col-md d-flex">
								<div
									class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap lora-uniquifier">
										<label for="#">Type</label>
										<div class="form-field">
											<div class="select-wrap">
												<div class="icon">
													<span class="ion-ios-arrow-down"></span>
												</div>
												<select name="" id="" class="form-control">
													<option value="">스위트</option>
													<option value="">패밀리룸</option>
													<option value="">디럭스룸</option>
													<option value="">클래식룸</option>
													<option value="">슈페리어룸</option>
													<option value="">럭셔리룸</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md d-flex">
								<div
									class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap lora-uniquifier">
										<label for="#">Adult</label>
										<div class="form-field">
											<div class="select-wrap">
												<div class="icon">
													<span class="ion-ios-arrow-down"></span>
												</div>
												<select name="" id="" class="form-control">
													<option value="">성인 1명</option>
													<option value="">성인 2명</option>
													<option value="">성인 3명</option>
													<option value="">성인 4명</option>
													<option value="">성인 5명</option>
													<option value="">성인 6명</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md d-flex">
								<div class="form-group d-flex align-self-stretch">
									<input type="submit" value="Check Availability"
										class="btn btn-primary py-3 px-4 align-self-stretch lora-uniquifier" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftc-no-pb ftc-no-pt">
		<div class="container">
			<div class="row">
				<div
					class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
					style="background-image: url(images/person\(7\).jpg)">
					<a href="https://vimeo.com/45830194"
						class="icon popup-vimeo d-flex justify-content-center align-items-center">
						<span class="icon-play"></span>
					</a>
				</div>
				<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
					<div
						class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
						<div class="ml-md-0">
							<span class="subheading">Welcome to crwon Hotel</span>
							<h2 class="mb-4">Welcome To Our Hotel</h2>
						</div>
					</div>
					<div class="pb-md-5">
						<p>길을 가다가 그녀는 한 복사본을 만났습니다. 복사본은 작은 소말리 텍스트에게 경고했습니다. 그것이 어디에서
							왔는지 천 번 다시 써야 했고 그것의 원래에서 남아있는 모든 것은 "그리고"라는</p>
						<p>디럭스 호텔에 오신 것을 환영합니다 저희 호텔에 오신 것을 환영합니다 가는 길에 그녀는 한 권의 사본을
							만났습니다. 그 사본은 Little Blind Text에게 그것이 나온 곳에서 수천 번 다시 쓰여졌을 것이고 그
							근원에서 남은 모든 것은 "and"라는 단어일 것이고 Little Blind Text는 방향을 바꾸어 원래의 것으로
							돌아가야 한다고</p>
						<ul class="ftco-social d-flex">
							<li class="ftco-animate"><a href="#"><span
									class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="icon-google-plus"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services py-4 d-block text-center">
						<div class="d-flex justify-content-center">
							<div
								class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-reception-bell"></span>
							</div>
						</div>
						<div class="media-body p-2 mt-2">
							<h3 class="heading mb-3">24/7 프론트 데스크</h3>
							<p>그들의 장소를 따라 흐르는 Duden이라는 작은 강이 있습니다. 그리고 공급품을 제공합니다.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services py-4 d-block text-center">
						<div class="d-flex justify-content-center">
							<div
								class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-serving-dish"></span>
							</div>
						</div>
						<div class="media-body p-2 mt-2">
							<h3 class="heading mb-3">레스토랑 바</h3>
							<p>그들의 장소를 따라 흐르는 Duden이라는 작은 강이 있습니다. 그리고 공급품을 제공합니다.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
					<div class="media block-6 services py-4 d-block text-center">
						<div class="d-flex justify-content-center">
							<div
								class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-car"></span>
							</div>
						</div>
						<div class="media-body p-2 mt-2">
							<h3 class="heading mb-3">전송 서비스</h3>
							<p>그들의 장소를 따라 흐르는 Duden이라는 작은 강이 있습니다. 그리고 공급품을 제공합니다.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services py-4 d-block text-center">
						<div class="d-flex justify-content-center">
							<div
								class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-spa"></span>
							</div>
						</div>
						<div class="media-body p-2 mt-2">
							<h3 class="heading mb-3">스파 스위트</h3>
							<p>그들의 장소를 따라 흐르는 Duden이라는 작은 강이 있습니다. 그리고 공급품을 제공합니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2 class="mb-4">우리의 객실</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a href="rooms.html"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-1.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a href="rooms.html">스위트 룸</a>
							</h3>
							<p>
								<span class="price mr-2">$120.00</span> <span class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a href="room-single.html" class="btn-custom">객실
									정보 보기 <span class="icon-long-arrow-right"></span>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a href="rooms.html"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-2.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a href="rooms.html">패밀리 룸</a>
							</h3>
							<p>
								<span class="price mr-2">$20.00</span> <span class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a href="room-single.html" class="btn-custom">객실
									정보 보기 <span class="icon-long-arrow-right"></span>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a href="rooms.html"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-3.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a href="rooms.html">디럭스 룸</a>
							</h3>
							<p>
								<span class="price mr-2">$150.00</span> <span class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a href="room-single.html" class="btn-custom">객실
									정보 보기 <span class="icon-long-arrow-right"></span>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a href="rooms.html"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-4.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a href="rooms.html">클래식 룸</a>
							</h3>
							<p>
								<span class="price mr-2">$130.00</span> <span class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a href="room-single.html" class="btn-custom">객실
									정보 보기 <span class="icon-long-arrow-right"></span>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a href="rooms.html"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-5.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a href="rooms.html">슈페리어 룸</a>
							</h3>
							<p>
								<span class="price mr-2">$300.00</span> <span class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a href="room-single.html" class="btn-custom">객실
									정보 보기 <span class="icon-long-arrow-right"></span>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg-4 ftco-animate">
					<div class="room">
						<a href="rooms.html"
							class="img d-flex justify-content-center align-items-center"
							style="background-image: url(images/room-6.jpg)">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3 text-center">
							<h3 class="mb-3">
								<a href="rooms.html">럭셔리 룸</a>
							</h3>
							<p>
								<span class="price mr-2">$500.00</span> <span class="per">하룻밤당</span>
							</p>
							<hr />
							<p class="pt-1">
								<a href="room-single.html" class="btn-custom">객실
									정보 보기 <span class="icon-long-arrow-right"></span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-counter img" id="section-counter"
		style="background-image: url(images/bg_1.jpg)">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="row">
						<div
							class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="50000">0</strong> <span>Happy
										Guests</span>
								</div>
							</div>
						</div>
						<div
							class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="3000">0</strong> <span>Rooms</span>
								</div>
							</div>
						</div>
						<div
							class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="1000">0</strong> <span>Staffs</span>
								</div>
							</div>
						</div>
						<div
							class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="100">0</strong> <span>Destination</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section bg-light">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 ftco-animate">
					<div class="row ftco-animate">
						<div class="col-md-12">
							<div class="carousel-testimony owl-carousel ftco-owl">
								<div class="item">
									<div class="testimony-wrap py-4 pb-5">
										<div class="user-img mb-4"
											style="background-image: url(images/person_3.jpg)">
											<span
												class="quote d-flex align-items-center justify-content-center">
												<i class="icon-quote-left"></i>
											</span>
										</div>
										<div class="text text-center">
											<p class="mb-4"></p>
											<p class="name">Nathan Smith</p>
											<span class="position">Guests</span>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testimony-wrap py-4 pb-5">
										<div class="user-img mb-4"
											style="background-image: url(images/person_2.jpg)">
											<span
												class="quote d-flex align-items-center justify-content-center">
												<i class="icon-quote-left"></i>
											</span>
										</div>
										<div class="text text-center">
											<p class="mb-4">A</p>
											<p class="name">Nathan Smith</p>
											<span class="position">Guests</span>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testimony-wrap py-4 pb-5">
										<div class="user-img mb-4"
											style="background-image: url(images/person_3.jpg)">
											<span
												class="quote d-flex align-items-center justify-content-center">
												<i class="icon-quote-left"></i>
											</span>
										</div>
										<div class="text text-center">
											<p class="mb-4">A놀라운 사람들 .</p>
											<p class="name">Nathan Smith</p>
											<span class="position">Guests</span>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testimony-wrap py-4 pb-5">
										<div class="user-img mb-4"
											style="background-image: url(images/person_4.jpg)">
											<span
												class="quote d-flex align-items-center justify-content-center">
												<i class="icon-quote-left"></i>
											</span>
										</div>
										<div class="text text-center">
											<p class="mb-4">정말 멋진 경험이에요h.</p>
											<p class="name">Nathan Smith</p>
											<span class="position">Guests</span>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testimony-wrap py-4 pb-5">
										<div class="user-img mb-4"
											style="background-image: url(images/person_5.jpg)">
											<span
												class="quote d-flex align-items-center justify-content-center">
												<i class="icon-quote-left"></i>
											</span>
										</div>
										<div class="text text-center">
											<p class="mb-4">A c더할나위없죠h.</p>
											<p class="name">Nathan Smith</p>
											<span class="position">Guests</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2>Recent Blog</h2>
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-md-3 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20"
							style="background-image: url('images/image_1.jpg')">
						</a>
						<div class="text mt-3 d-block">
							<h3 class="heading mt-3">
								<a href="#">E</a>
							</h3>
							<div class="meta mb-3">
								<div>
									<a href="#">Dec 6, 2018</a>
								</div>
								<div>
									<a href="#">Admin</a>
								</div>
								<div>
									<a href="#" class="meta-chat"><span
										class="icon-chat"></span> 3</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20"
							style="background-image: url('images/image_2.jpg')">
						</a>
						<div class="text mt-3">
							<h3 class="heading mt-3">
								<a href="#">E</a>
							</h3>
							<div class="meta mb-3">
								<div>
									<a href="#">Dec 6, 2018</a>
								</div>
								<div>
									<a href="#">Admin</a>
								</div>
								<div>
									<a href="#" class="meta-chat"><span
										class="icon-chat"></span> 3</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20"
							style="background-image: url('images/image_3.jpg')">
						</a>
						<div class="text mt-3">
							<h3 class="heading mt-3">
								<a href="#">Ev</a>
							</h3>
							<div class="meta mb-3">
								<div>
									<a href="#">Dec 6, 2018</a>
								</div>
								<div>
									<a href="#">Admin</a>
								</div>
								<div>
									<a href="#" class="meta-chat"><span
										class="icon-chat"></span> 3</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20"
							style="background-image: url('images/image_4.jpg')">
						</a>
						<div class="text mt-3">
							<h3 class="heading mt-3">
								<a href="#">Ev</a>
							</h3>
							<div class="meta mb-3">
								<div>
									<a href="#">Dec 6, 2018</a>
								</div>
								<div>
									<a href="#">Admin</a>
								</div>
								<div>
									<a href="#" class="meta-chat"><span
										class="icon-chat"></span> 3</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="instagram">
		<div class="container-fluid">
			<div class="row no-gutters justify-content-center pb-5">
				<div class="col-md-7 text-center heading-section ftco-animate">
					<h2>
						<span>Instagram</span>
					</h2>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-sm-12 col-md ftco-animate">
					<a href="images/insta-1.jpg" class="insta-img image-popup"
						style="background-image: url(images/insta-1.jpg)">
						<div class="icon d-flex justify-content-center">
							<span class="icon-instagram align-self-center"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-md ftco-animate">
					<a href="images/insta-2.jpg" class="insta-img image-popup"
						style="background-image: url(images/insta-2.jpg)">
						<div class="icon d-flex justify-content-center">
							<span class="icon-instagram align-self-center"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-md ftco-animate">
					<a href="images/insta-3.jpg" class="insta-img image-popup"
						style="background-image: url(images/insta-3.jpg)">
						<div class="icon d-flex justify-content-center">
							<span class="icon-instagram align-self-center"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-md ftco-animate">
					<a href="images/insta-4.jpg" class="insta-img image-popup"
						style="background-image: url(images/insta-4.jpg)">
						<div class="icon d-flex justify-content-center">
							<span class="icon-instagram align-self-center"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-md ftco-animate">
					<a href="images/insta-5.jpg" class="insta-img image-popup"
						style="background-image: url(images/insta-5.jpg)">
						<div class="icon d-flex justify-content-center">
							<span class="icon-instagram align-self-center"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	</div>
</th:block>

	
</html>
