<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${member.seq}"></h2>
    <div class="card my-3">
        <div class="card-body">
        	<!-- 마크다운 라이브러리를 통해서 출력  -->
        
            <div class="card-text" style="white-space: pre-line;" th:utext="${@commonUtil.markdown(member.mid)}"></div>
            <div class="d-flex justify-content-end">

       	        <div th:if="${member.mid != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2"> 아이디 </div>
            		<div th:text="${member.mid}"></div>
            	</div>
            	
       	        <div th:if="${member.password != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2"> 비밀번호 </div>
            		<div th:text="${member.password}"></div>
            	</div>
            	
            	<div th:if="${member.mname != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2">이름</div>
            		<div th:text="${member.mname}"></div>
            	</div>

       	        <div th:if="${member.email != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2"> 이메일 </div>
            		<div th:text="${member.email}"></div>
            	</div>
            	
   	            <div th:if="${member.address != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2">주소</div>
            		<div th:text="${member.address}"></div>
            	</div>
            	
            
            </div>
            <!-- 질문 :  추천 / 수정 /삭제 버튼 추가  -->
            <div class = "my-3">
            	
            
            	<a th:href="@{|/memberModify/${member.seq}|}" 
            		sec:authorize = "isAuthenticated"
            		th:if ="${member.seq != null and 
            			#authentication.getPrincipal().getUsername() == member.mid}"           	
            		th:text ="수정"
            		class="btn btn-sm btn-outline-secondary"
            	>          	
	           	</a>
	           	
	           	<a 
	           		href="javascript:void(0)"
	           	    th:data-uri="@{|/memberDelete/${member.seq}|}"	           		
	           		sec:authorize = "isAuthenticated"
            		th:if ="${member.seq != null and 
            			#authentication.getPrincipal().getUsername() == member.mid}"
	           		th:text="삭제"
	           		class="delete btn btn-sm btn-outline-secondary"
	           	>	           	
	           	</a>	           	                      
             </div>
            
            
        </div>
    </div>

<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

</script>

</html>
