<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${reservation.seq}"></h2>
    <div class="card my-3">
        <div class="card-body">
        	<!-- 마크다운 라이브러리를 통해서 출력  -->
        
            <div class="card-text" style="white-space: pre-line;" th:utext="${@commonUtil.markdown(reservation.seq)}"></div>
            <div class="d-flex justify-content-end">

       	        <div th:if="${reservation.room.rid != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2"> 예약한 방 번호 </div>
            		<div th:text="${reservation.room.rid}"></div>
            	</div>
            	
       	        <div th:if="${reservation.facility.fid != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2"> 예약한 시설 번호 </div>
            		<div th:text="${reservation.facility.fid}"></div>
            	</div>            	

            	<!-- 글 수정 날짜 추가 -->
            	<div th:if="${reservation.sdate != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2"> 예약 시작 날짜 </div>
            		<div type="date" th:text="${reservation.sdate}"></div>
            	</div>
            	
            	<div th:if="${reservation.edate != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2"> 예약 마지막 날짜 </div>
            		<div type="date" th:text="${reservation.edate}"></div>
            	</div>
            	
       	        <div th:if="${reservation.cnt != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2"> 예약 인원수 </div>
            		<div th:text="${reservation.cnt}"></div>
            	</div>
            
            </div>
            <!-- 질문 :  추천 / 수정 /삭제 버튼 추가  -->
            <div class = "my-3">
            	
            
            	<a th:href="@{|/updateReservation/${reservation.seq}|}" 
            		th:if ="${reservation.seq != null and 
            			#authentication.getPrincipal().getUsername() == reservation.member.mid}"           	
            		th:text ="수정"
            		class="btn btn-sm btn-outline-secondary"
            	>          	
	           	</a> 
	           	<a 
	           		href="javascript:void(0)"
	           	    th:data-uri="@{|/deleteReservation/${reservation.seq}|}"	           		
            		th:if ="${reservation.seq != null and 
            			#authentication.getPrincipal().getUsername() == reservation.member.mid}"
	           		th:text="삭제"
	           		class="delete btn btn-sm btn-outline-secondary"
	           	>	           	
	           	</a>	           	                      
             </div>
            
            
        </div>
    </div>

<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

</script>

</html>
