<html layout:decorate="~{layout2}">

<th:block layout:fragment="content">
	<body>

		<main>
			<section class="home-slider owl-carousel">
				<div class="slider-item"
					style="background-image: url(images/view\(1\).jpg)">
					<div class="overlay"></div>
					<div class="container">
						<div
							class="row no-gutters slider-text align-items-center justify-content-center">
							<div class="col-md-12 ftco-animate text-center">
								<div class="text mb-5 pb-3 p111">
									<h1 class="p111">CROWN HOTEL에 오신 것을 환영합니다</h1>
									<h2 class="p111">호텔 및 리조트</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-item"
					style="background-image: url(images/view\(2\).jpg)">
					<div class="overlay"></div>
					<div class="container">
						<div
							class="row no-gutters slider-text align-items-center justify-content-center">
							<div class="col-md-12 ftco-animate text-center">
								<div class="text mb-5 pb-3">
									<h1 class="p111">CROWN HOTEL에 오신 것을 환영합니다</h1>
									<h2>우리와 함께하세요</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-item"
					style="background-image: url(images/view\(3\).jpg)">
					<div class="overlay"></div>
					<div class="container">
						<div
							class="row no-gutters slider-text align-items-center justify-content-center">
							<div class="col-md-12 ftco-animate text-center">
								<div class="text mb-5 pb-3">
									<h1 class="p111">CROWN HOTEL에 오신 것을 환영합니다</h1>
									<h2>최고의 시설, 매너</h2>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="slider-item"
					style="background-image: url(images/view\(4\).jpg)">
					<div class="overlay"></div>
					<div class="container">
						<div
							class="row no-gutters slider-text align-items-center justify-content-center">
							<div class="col-md-12 ftco-animate text-center">
								<div class="text mb-5 pb-3">
									<h1 class="p111">CROWN HOTEL에 오신 것을 환영합니다</h1>
									<h2>차별화된 호텔</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<br />
			<br /> <br />
			<br />



			<body class="bg-light">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
				<div class="container bg-white py-5">
					<div class="row">
						<div class="col-lg-9 mx-auto">
							<h2 class="my-3">시설 예약</h2>
							<h4 class="my-3" id="plan-name">&nbsp;</h4>
							<p class="text-muted" id="plan-desc">&nbsp;</p>
						</div>
					</div>
					<form action="./confirm.html" id="reserve-form" novalidate>
						<div class="row">
							<div class="col-lg-6 ml-auto">
								<div class="form-group">
									<label for="date">사용 날짜 <span
										class="badge badge-primary">필수</span></label> <input type="text"
										class="form-control needs-calc" name="date" id="date" required>
									<small class="form-text text-muted">예약은 3개월 이내의 날짜만
										가능합니다.</small>
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label for="term">사용 기간 <span
										class="badge badge-primary">필수</span></label>
									<div class="input-group">
										<input type="number" class="form-control needs-calc"
											name="term" id="term" required>
										<div class="input-group-append">
											<span class="input-group-text">일</span>
										</div>
										<div class="invalid-feedback"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="head-count">인원 수 <span
										class="badge badge-primary">필수</span></label>
									<div class="input-group">
										<input type="number" class="form-control needs-calc"
											name="head-count" id="head-count" required>
										<div class="input-group-append">
											<span class="input-group-text">명</span>
										</div>
										<div class="invalid-feedback"></div>
									</div>
								</div>
								<label>추가 옵션 <small class="text-muted">1인당 100$</small></label>
								<div class="form-group">
									<div class="form-check">
										<input type="checkbox" class="form-check-input needs-calc"
											name="breakfast" id="breakfast"> <label
											class="form-check-label" for="breakfast"> 조식 뷔페 </label>
									</div>
								</div>
								<div class="form-group">
									<div class="form-check">
										<input type="checkbox" class="form-check-input needs-calc"
											name="early-check-in" id="early-check-in"> <label
											class="form-check-label" for="early-check-in"> 오후 체크인
											플랜 </label>
									</div>
								</div>
								<div class="form-group">
									<div class="form-check">
										<input type="checkbox" class="form-check-input needs-calc"
											name="sightseeing" id="sightseeing"> <label
											class="form-check-label" for="sightseeing"> 혜택 있는 관광
											플랜 </label>
									</div>
								</div>
								<div class="form-group">
									<label for="username">성함 <span
										class="badge badge-primary">필수</span></label> <input type="text"
										class="form-control" name="username" id="username" required>
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label for="contact">연락 수단 <span
										class="badge badge-primary">필수</span></label> <select
										class="form-control" name="contact" id="contact" required>
										<option value="" selected>선택하세요</option>
										<option value="no">희망하지 않음</option>
										<option value="email">이메일로 연락</option>
										<option value="tel">전화로 연락</option>
									</select>
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group d-none">
									<label for="email">이메일 주소 <span
										class="badge badge-primary">필수</span></label> <input type="email"
										class="form-control" name="email" id="email" disabled>
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group d-none">
									<label for="tel">전화번호 <span class="badge badge-primary">필수</span></label>
									<input type="tel" class="form-control" name="tel" id="tel"
										pattern="[0-9]{11}" disabled> <small
										class="form-text text-muted">11자리의 숫자를 입력하세요. 예:
										01133335555</small>
									<div class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label for="comment">요청 사항 또는 연락 사항이 있으면 작성해주세요</label>
									<textarea class="form-control" name="comment" id="comment"
										maxlength="140" rows="3"></textarea>
									<div class="invalid-feedback"></div>
								</div>
								<input type="hidden" name="plan-id-hidden" id="plan-id-hidden"
									value=""> <input type="hidden" name="plan-name-hidden"
									id="plan-name-hidden" value=""> <input type="hidden"
									name="room-bill-hidden" id="room-bill-hidden" value="">
							</div>
							<div class="col-lg-3 mr-auto">
								<h3>총액</h3>
								<output class="h1 my-2" name="total-bill" id="total-bill">-</output>
								<button type="submit" class="btn btn-primary btn-block my-3"
									data-test="submit-button" id="submit-button" disabled>예약
									내용 확인하기</button>
								<div id="room-info">
									<p>객실 미지정</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</body>
		</main>
	</body>
</th:block>


<th:block layout:fragment="script">

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.timepicker.min.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>

</th:block>

</html>