<!DOCTYPE html>
    <head>
        <title>Crown hotel</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link rel="stylesheet" href="index3.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
        <link rel="stylesheet" href="css/animate.css" />

        <link rel="stylesheet" href="css/owl.carousel.min.css" />
        <link rel="stylesheet" href="css/owl.theme.default.min.css" />
        <link rel="stylesheet" href="css/magnific-popup.css" />

        <link rel="stylesheet" href="css/aos.css" />

        <link rel="stylesheet" href="css/ionicons.min.css" />

        <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="css/jquery.timepicker.css" />

        <link rel="stylesheet" href="css/flaticon.css" />
        <link rel="stylesheet" href="css/icomoon.css" />
        <link rel="stylesheet" href="css/style.css" />
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

			<style>
	@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'SDSamliphopangche_Outline';
}	  .p111{
	font-family: 'SDSamliphopangche_Outline';
            }
			</style>
    </head>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar"
		th:fragment="navbarFragment">
			<div class="container">
				<a class="navbar-brand" href="index.html"><img width="30px" src="/img/logo(footerlogo).png" />
					&nbsp;Crown hotel</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
					aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="oi oi-menu"></span> Menu
				</button>
				<div class="col-xl-2 col-lg-2"></div>
				<div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a href="adminindex.html" class="nav-link">관리자</a>
						</li>
						<li class="nav-item">
							<a href=".html" class="nav-link">예약</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" 
							id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" 
								aria-expanded="false"
								>
								방 <i class="ti-angle-down"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="room_list.html"> 방 소개</a>

								<a class="dropdown-item" href="room_classic.html">Classic</a>
								<a class="dropdown-item" href="room_deluxe.html">Deluxe</a>
								<a class="dropdown-item" href="room_family.html">Family</a>
								<a class="dropdown-item" href="room_superior.html">Superior</a>
								<a class="dropdown-item" href="room_suite.html">Suite</a>
								<a class="dropdown-item" href="room_luxury.html">Luxury</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								시설 <i class="ti-angle-down"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="facility_list.html">시설소개</a>

								<a class="dropdown-item" href="facility_pool.html">수영장</a>
								<a class="dropdown-item" href="facility_restaurant.html">식당</a>
								<a class="dropdown-item" href="facility_golf.html">골프장</a>

								<a class="dropdown-item" href="facilityhelth.html">헬스장</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								고객센터 <i class="ti-angle-down"></i>
							</a>
						
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								마이 페이지<i class="ti-angle-down"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="index.html">메인 페이지</a>
								<a class="dropdown-item" href="myBookList.html">
									예약 리스트 페이지</a>
								<a class="dropdown-item" href="getMyRoomBook.html">
									예약 자세히보기</a>
								<a class="dropdown-item" href="getROomStatus.html">
									현재 객실 상황</a>
								<a class="dropdown-item" href="getFacilityStaus.html">
									현재 시설 상황</a>
							</div>
						</li>
						<li class="nav-item">
							<a href="login.html" class="nav-link">로그인</a>
						</li>


						<li class="nav-item">
							<a href="signUp.html" class="nav-link">로그아웃</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
    <body>
        <div class="info">
            <img width="100px" src="/img/logo.png" />
        </div>

     
		<!-- END nav -->

     
		<!-- END nav -->

<main>
	<th:block layout:fragment="content">
		<section class="home-slider owl-carousel">
			<div class="slider-item" style="background-image: url(images/view\(1\).jpg)">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate text-center">
							<div class="text mb-5 pb-3 p111" >
								<h1 class="p111" >
									CROWN HOTEL에 오신 것을 환영합니다
								</h1>
								<h2 class="p111">호텔 및 리조트</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-item" style="background-image: url(images/view\(2\).jpg)">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate text-center">
							<div class="text mb-5 pb-3">
								<h1  class="p111">
									CROWN HOTEL에 오신 것을 환영합니다
								</h1>
								<h2>우리와 함께하세요</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-item" style="background-image: url(images/view\(3\).jpg)">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate text-center">
							<div class="text mb-5 pb-3">
								<h1  class="p111">
									CROWN HOTEL에 오신 것을 환영합니다
								</h1>
								<h2>최고의 시설, 매너</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item" style="background-image: url(images/view\(4\).jpg)">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate text-center">
							<div class="text mb-5 pb-3">
								<h1  class="p111">
									CROWN HOTEL에 오신 것을 환영합니다
								</h1>
								<h2>차별화된 호텔</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<br /><br />


        <br /><br />

    <main>

    
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  </nav>
  <div class="container bg-white py-5">
    <div class="row">
        <div class="col-lg-9 mx-auto">
          <h2 class="my-3"> 시설 예약</h2>
            <h4 class="my-3" id="plan-name">&nbsp;</h4>
            <p class="text-muted" id="plan-desc">&nbsp;</p>
        </div>
    </div>
    <form action="./confirm.html" id="reserve-form" novalidate>
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <div class="form-group">
                    <label for="date">사용 날짜 <span class="badge badge-primary">필수</span></label>
                    <input type="text" class="form-control needs-calc" name="date" id="date" required>
                    <small class="form-text text-muted">예약은 3개월 이내의 날짜만 가능합니다.</small>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label for="term">사용 기간 <span class="badge badge-primary">필수</span></label>
                    <div class="input-group">
                        <input type="number" class="form-control needs-calc" name="term" id="term" required>
                        <div class="input-group-append">
                            <span class="input-group-text">일</span>
                        </div>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="head-count">인원 수 <span class="badge badge-primary">필수</span></label>
                    <div class="input-group">
                        <input type="number" class="form-control needs-calc" name="head-count" id="head-count" required>
                        <div class="input-group-append">
                            <span class="input-group-text">명</span>
                        </div>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <label>추가 옵션 <small class="text-muted">1인당 100$</small></label>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input needs-calc" name="breakfast" id="breakfast">
                        <label class="form-check-label" for="breakfast">
                            조식 뷔페
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input needs-calc" name="early-check-in" id="early-check-in">
                        <label class="form-check-label" for="early-check-in">
                            오후 체크인 플랜
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input needs-calc" name="sightseeing" id="sightseeing">
                        <label class="form-check-label" for="sightseeing">
                            혜택 있는 관광 플랜
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">성함 <span class="badge badge-primary">필수</span></label>
                    <input type="text" class="form-control" name="username" id="username" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label for="contact">연락 수단 <span class="badge badge-primary">필수</span></label>
                    <select class="form-control" name="contact" id="contact" required>
                        <option value="" selected>선택하세요</option>
                        <option value="no">희망하지 않음</option>
                        <option value="email">이메일로 연락</option>
                        <option value="tel">전화로 연락</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group d-none">
                    <label for="email">이메일 주소 <span class="badge badge-primary">필수</span></label>
                    <input type="email" class="form-control" name="email" id="email" disabled>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group d-none">
                    <label for="tel">전화번호 <span class="badge badge-primary">필수</span></label>
                    <input type="tel" class="form-control" name="tel" id="tel" pattern="[0-9]{11}" disabled>
                    <small class="form-text text-muted">11자리의 숫자를 입력하세요. 예: 01133335555</small>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label for="comment">요청 사항 또는 연락 사항이 있으면 작성해주세요</label>
                    <textarea class="form-control" name="comment" id="comment" maxlength="140" rows="3"></textarea>
                    <div class="invalid-feedback"></div>
                </div>
                <input type="hidden" name="plan-id-hidden" id="plan-id-hidden" value="">
                <input type="hidden" name="plan-name-hidden" id="plan-name-hidden" value="">
                <input type="hidden" name="room-bill-hidden" id="room-bill-hidden" value="">
            </div>
            <div class="col-lg-3 mr-auto">
                <h3>총액</h3>
                <output class="h1 my-2" name="total-bill" id="total-bill">-</output>
                <button type="submit" class="btn btn-primary btn-block my-3" data-test="submit-button" id="submit-button" disabled>예약 내용 확인하기</button>
                <div id="room-info">
                    <p>객실 미지정</p>
                </div>
            </div>
        </div>
    </form>
</div>

</main>


<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">크라운 호텔</h2>
                    <p>
                        당신이 찾던 호텔 <br>
                        최고의 서비스와 최고의 대우로 <br>
                        여러분들의 편의와 만족을 드리는 <br>
                        CROWN HOTEL.
                    </p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate">
                            <a href="#"><span class="icon-twitter"></span></a>
                        </li>
                        <li class="ftco-animate">
                            <a href="#"><span class="icon-facebook"></span></a>
                        </li>
                        <li class="ftco-animate">
                            <a href="#"><span class="icon-instagram"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">유용한 링크</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="py-2 d-block">블로그</a>
                        </li>
                        <li>
                            <a href="#" class="py-2 d-block">객실</a>
                        </li>
                        <li>
                            <a href="#" class="py-2 d-block">편의 시설</a>
                        </li>
                        <li>
                            <a href="#" class="py-2 d-block">기프트 카드</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">개인정보</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="py-2 d-block">경력</a>
                        </li>
                        <li>
                            <a href="#" class="py-2 d-block">회사 소개</a>
                        </li>
                        <li>
                            <a href="#" class="py-2 d-block">문의하기</a>
                        </li>
                        <li>
                            <a href="#" class="py-2 d-block">서비스</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">질문이 있으신가요?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
                            </li>
                            <li>
                                <a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a>
                            </li>
                            <li>
                                <a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
             
            </div>
        </div>
    </div>
</footer>

<!-- 로더 -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
    </svg>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

</body>
</html>