<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Crown hotel</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="index3.css" />
    <link
      rel="stylesheet"
      href="owl.carousel.min.css
        "
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/ionicons.min.css" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="css/jquery.timepicker.css" />

    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/icomoon.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <style>
@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
font-family: 'SDSamliphopangche_Outline';
}	  .p111{
font-family: 'SDSamliphopangche_Outline';
          }
    </style>
  </head>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar"
  th:fragment="navbarFragment">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img width="30px" src="/img/logo(footerlogo).png" />
        &nbsp;Crown hotel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="col-xl-2 col-lg-2"></div>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="adminindex.html" class="nav-link">관리자</a>
          </li>
          <li class="nav-item">
            <a href=".html" class="nav-link">예약</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
            id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" 
              aria-expanded="false"
              >
              방 <i class="ti-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="room_list.html"> 방 소개</a>

              <a class="dropdown-item" href="room_classic.html">Classic</a>
              <a class="dropdown-item" href="room_deluxe.html">Deluxe</a>
              <a class="dropdown-item" href="room_family.html">Family</a>
              <a class="dropdown-item" href="room_superior.html">Superior</a>
              <a class="dropdown-item" href="room_suite.html">Suite</a>
              <a class="dropdown-item" href="room_luxury.html">Luxury</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              시설 <i class="ti-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="facility_list.html">시설소개</a>

              <a class="dropdown-item" href="facility_pool.html">수영장</a>
              <a class="dropdown-item" href="facility_restaurant.html">식당</a>
              <a class="dropdown-item" href="facility_golf.html">골프장</a>

              <a class="dropdown-item" href="facilityhelth.html">헬스장</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              고객센터 <i class="ti-angle-down"></i>
            </a>
          
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              마이 페이지<i class="ti-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="index.html">메인 페이지</a>
              <a class="dropdown-item" href="myBookList.html">
                예약 리스트 페이지</a>
              <a class="dropdown-item" href="getMyRoomBook.html">
                예약 자세히보기</a>
              <a class="dropdown-item" href="getROomStatus.html">
                현재 객실 상황</a>
              <a class="dropdown-item" href="getFacilityStaus.html">
                현재 시설 상황</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="login.html" class="nav-link">로그인</a>
          </li>


          <li class="nav-item">
            <a href="signUp.html" class="nav-link">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
  <body>
    
      <div class="info">
          <img width="100px" src="/img/logo.png" />
      </div>


    <th:block layout:fragment="content">
		<section class="home-slider owl-carousel">
			<div class="slider-item" style="background-image: url(images/view\(1\).jpg)">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate text-center">
							<div class="text mb-5 pb-3">
								<h1 class="mb-3">
									CROWN HOTEL에 오신 것을 환영합니다
								</h1>
								<h2>호텔 및 리조트</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-item" style="background-image: url(images/view\(2\).jpg)">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate text-center">
							<div class="text mb-5 pb-3">
								<h1 class="mb-3">
									CROWN HOTEL에 오신 것을 환영합니다
								</h1>
								<h2>우리와 함께하세요</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-item" style="background-image: url(images/view\(3\).jpg)">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate text-center">
							<div class="text mb-5 pb-3">
								<h1 class="mb-3">
									CROWN HOTEL에 오신 것을 환영합니다
								</h1>
								<h2>최고의 시설, 매너</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item" style="background-image: url(images/view\(4\).jpg)">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate text-center">
							<div class="text mb-5 pb-3">
								<h1 class="mb-3">
									CROWN HOTEL에 오신 것을 환영합니다
								</h1>
								<h2>차별화된 호텔</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<br /><br />
    <br /><br />

    <!-- Rooms Section Begin -->
    <section class="room-section spad">
      <div class="container">
        <div class="rooms-page-item">
          <div class="row">
            <div class="col-lg-6">
                <div class="single-room-pic">
                  <img src="img/swim1.jpg" alt="" />
                </div>
                <div class="single-room-pic">
                  <img src="img/swim3.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="room-text">
                  <div class="room-title">
                    <h2>수영장</h2>
                    <div class="room-price">
                      <span>가격</span>
                      <h2>$350</h2>
                      <sub>상세 설명</sub>
                    </div>
                  </div>
                  <div class="room-desc">
                    <p style="color: white;">
                      저희 크라운 호텔에서는 하루에 8번 3시간 간격으로 물 정화 및 
                      물 정수 작업을 통하여 투숙객들, 수영장 이용 고객님들에게 깨끗한
                      수영장 이용이 가능하시도록 도와드리고 있습니다. 또한 3000명 이상
                      수용 가능한 넓은 수영장에 어린이들이 놀 수 있는 키즈존과 서핑존도
                      준비되어 있는 크라운 호텔 수영장 입니다.
                    </p>
                  </div>
                  <a href="facility_pool.html" class="primary-btn"
                    >Book Now <i class="lnr lnr-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="container">
          <br>
        <div class="rooms-page-item">
          <div class="row">
            <div class="col-lg-6">
                <div class="single-room-pic">
                  <img src="/img/golf1.jpg" alt="" />
                </div>
                <div class="single-room-pic">
                  <img src="img/golf3.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="room-text">
                  <div class="room-title">
                    <h2>골프장</h2>
                    <div class="room-price">
                      <span>가격</span>
                      <h2>$475</h2>
                      <sub>상세 설명</sub>
                    </div>
                  </div>
                  <div class="room-desc">
                    <p style="color: white;">
                      저희 크라운 호텔 골프장에서는 천연잔디를 전 필드에 깔아놓고
                      일반 골프장 시설과 다를게 없도록 모든 장비 및 필드가 준비되어
                      있습니다. 저희 크라운 호텔 골프장은 1만 5000여 평으로 투숙객,
                      골프장 이용 고객님들의 골프장 사용에 불편함이 없으시도록 준비되어
                      있는 크라운 호텔 골프장 입니다.
                    </p>
                  </div>
                  <a href="facility_golf.html" class="primary-btn"
                    >Book Now <i class="lnr lnr-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="container">
          <br>
        <div class="rooms-page-item">
          <div class="row">
            <div class="col-lg-6">
                <div class="single-room-pic">
                  <img src="/img/gym1.jpg" alt="" />
                </div>
                <div class="single-room-pic">
                  <img src="/img/gym2.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="room-text">
                  <div class="room-title">
                    <h2>헬스장</h2>
                    <div class="room-price">
                      <span>가격</span>
                      <h2>$150</h2>
                      <sub>상세 설명</sub>
                    </div>
                  </div>
                  <div class="room-desc">
                    <p style="color: white;">
                      저희 크라운 호텔 내부에 있는 헬스장은 최신 헬스 장비 및 필라테스 장비
                      등 을 준비하여 크라운 호텔 투숙객, 헬스장 이용 고객님들의 운동 및 여가를
                      보내시는데 전혀 불편함이 없으시도록 준비해놓았습니다. 30여가지 이상의 다양한
                      운동기구를 마음껏 이용하실 수 있는 크라운 호텔 헬스장 입니다.
                    </p>
                  </div>
                  <a href="facilityhelth.html" class="primary-btn"
                    >Book Now <i class="lnr lnr-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </section>
    <!-- Rooms Section End -->

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">크라운 호텔</h2>
              <p>
                당신이 찾던 호텔 <br>
                최고의 서비스와 최고의 대우로 <br>
                여러분들의 편의와 만족을 드리는 <br>
                CROWN HOTEL.
              </p>
              <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
              >
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">유용한 링크</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="py-2 d-block">블로그</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">객실</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">편의 시설</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">기프트 카드</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">개인정보</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="py-2 d-block">경력</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">회사 소개</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">문의하기</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">서비스</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">질문이 있으신가요?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon icon-map-marker"></span
                    ><span class="text"
                      >203 Fake St. Mountain View, San Francisco, California,
                      USA</span
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-phone"></span
                      ><span class="text">+2 392 3929 210</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-envelope"></span
                      ><span class="text">info@yourdomain.com</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center"></div>
        </div>
      </div>
    </footer>

    <!-- 로더 -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
