<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">

	<h5 class="my-3 border-bottom pb-2">시설 등록</h5>
	<!-- 질문등록 , 질문 수정  
    <form th:action="@{/question/create}" method="post" th:object="${questionForm}">
	    th: action 을 생략 하면 URL 주소로 action 값이 들어감
			 form 의 method = "post" 설정이 있으므로 post 방식으로 넘어감.  
		   - csrf 값이 할당 되지 않음. 명시적으로 csrf 설정을 해주어야 함.  
	-->
    <form method="post" th:object="${facilityCreateForm}">
    	<input type="hidden" th:name="${_csrf.parameterName}" 
    		th:value="${_csrf.token}">
   
    	<!-- 
    	<div class="alert alert-danger" role="alert" th:if ="${#fields.hasAnyErrors()}">
    		<div th:each ="err : ${#fields.allErrors()}" th:text="${err}"> </div>
       	</div>
        -->
         <div th:replace="~{form_errors:: formErrorsFragment}"> </div> 
        
        
        <div class="mb-3">
            <label for="fname" class="form-label">시설 이름</label>
            <textarea th:field="*{fname}" class="form-control" rows="10"></textarea>
        </div>
        
        
        <div class="mb-3">
            <label for="ftype" class="form-label">시설 종류</label>
            <textarea th:field="*{ftype}" class="form-control" rows="10"></textarea>
        </div>
        

        <input type="submit" value="수정하기" class="btn btn-primary my-2">
    </form>

</div>
</html>