<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${facility.fid}"></h2>
    <div class="card my-3">
        <div class="card-body">
        	<!-- 마크다운 라이브러리를 통해서 출력  -->
        
            <div class="card-text" style="white-space: pre-line;" th:utext="${@commonUtil.markdown(facility.fid)}"></div>
            <div class="d-flex justify-content-end">

       	        <div th:if="${facility.fname != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2">시설 이름</div>
            		<div th:text="${facility.fname}"></div>
            	</div>
            	
       	        <div th:if="${facility.ftype != null}" class="badge bg-light text-dark  p-2 text-start mx-3">
            		<div class="mb-2">시설 타입</div>
            		<div th:text="${facility.ftype}"></div>
            	</div>
            
            </div>
            <!-- 질문 :  추천 / 수정 /삭제 버튼 추가  -->
            <div class = "my-3">
            	
            
            	<a th:href="@{|/facilityModify/${facility.fid}|}"          	
            		th:text ="수정"
            		class="btn btn-sm btn-outline-secondary"
            	>          	
	           	</a>
	           	
	           	<a 
	           		href="javascript:void(0)"
	           	    th:data-uri="@{|/facilityDelete/${facility.fid}|}"
	           		th:text="삭제"
	           		class="delete btn btn-sm btn-outline-secondary"
	           	>	           	
	           	</a>	           	                      
             </div>
            
            
        </div>
    </div>

<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

</script>

</html>
