<html layout:decorate="~{layout2}">

<th:block layout:fragment="content">

	<link rel="stylesheet" href="css/common.css" />
	<!-- END nav -->
	<br>
	<br>
	<br>
	<body>
		<div id="wrap">
			<div id="container">
				<!-- bodytext_area -->
				<div class="bodytext_area box_inner">
					<!-- myinfo -->
					<div class="myinfo">

						<!-- appForm -->
						<form action="#" class="regForm">
							<fieldset>
								<legend>내정보 입력 양식</legend>
								<ul class="reg_list">
									<li class="clear"><span class="tit_lbl">이름</span>
										<div class="reg_content">홍길동</div></li>
									<li class="clear"><label class="tit_lbl">생년월일</label>
										<div class="reg_content">20030802</div></li>
									<li class="clear"><span class="tit_lbl">성별</span>
										<div class="reg_content radio_area">
											<input type="radio" class="css-radio" id="mmm_lbl"
												name="gender" checked /><label for="mmm_lbl">남</label> <input
												type="radio" class="css-radio" id="www_lbl" name="gender" /><label
												for="www_lbl">여</label>
										</div></li>
									<li class="clear"><span class="tit_lbl">주소</span>
										<div class="reg_content">자바 풀스택 개발</div></li>
									<li class="clear"><span class="tit_lbl">핸드폰</span>
										<div class="reg_content">010-1234-5678</div></li>
									<li class="clear"><span class="tit_lbl">SMS 수신동의</span>
										<div class="reg_content radio_area">
											<input type="radio" class="css-radio" id="smsyes_lbl"
												name="smsyesno" checked /><label for="smsyes_lbl">허용</label>
											<input type="radio" class="css-radio" id="smsno_lbl"
												name="smsyesno" /><label for="smsno_lbl">거부</label>
											<p class="info_line">(서비스와 관련된 이벤트 안내, 고객 혜택 등 다양한 정보를
												제공합니다.)</p>
										</div></li>
									<li class="clear"><span class="tit_lbl">이메일</span>
										<div class="reg_content">java2022@naver.com</div></li>
									<li class="clear"><span class="tit_lbl">이메일 수신동의</span>
										<div class="reg_content radio_area">
											<input type="radio" class="css-radio" id="emailyes_lbl"
												name="emailyesno" checked /><label for="emailyes_lbl">허용</label>
											<input type="radio" class="css-radio" id="emailno_lbl"
												name="emailyesno" /><label for="emailno_lbl">거부</label>
											<p class="info_line">(서비스와 관련된 이벤트 안내, 고객 혜택 등 다양한 정보를
												제공합니다.)</p>
										</div></li>
								</ul>
								<p class="btn_line">
									<a href="#" class="btn_baseColor">등록</a>
								</p>
							</fieldset>
						</form>
						<!-- //appForm -->
						</dd>
						</dl>
						<!-- //myinfo -->
					</div>
					<!-- //bodytext_area -->
				</div>
			</div>
		</div>
	</body>
</th:block>

<th:block layout:fragment="script">

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.timepicker.min.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/jquery.smooth-scroll.min.js"></script>

</th:block>

</html>
