
<!DOCTYPE html>

<head>
  <!-- Css Styles -->
  <link rel="stylesheet" href="css/bootstrap2.min.css" type="text/css">
  <link rel="stylesheet" href="css/flaticon2.css" type="text/css">
  <link rel="stylesheet" href="css/linearicons2.css" type="text/css">
  <link rel="stylesheet" href="css/owl.carousel2.min.css" type="text/css">
  <link rel="stylesheet" href="css/jquery-ui2.min.css" type="text/css">
  <link rel="stylesheet" href="css/nice-select2.css" type="text/css">
  <link rel="stylesheet" href="css/magnific2-popup.css" type="text/css">
  <link rel="stylesheet" href="css/slicknav2.min.css" type="text/css">
  <link rel="stylesheet" href="css/style2.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" />

  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

  <style>
@font-face {
font-family: 'SDSamliphopangche_Outline';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
font-weight: normal;
font-style: normal;
}

body {
font-family: 'SDSamliphopangche_Outline';
}	  .p111{
font-family: 'SDSamliphopangche_Outline';
        }
  </style>
</head>
<header>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar"
th:fragment="navbarFragment">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img width="30px" src="/img/logo(footerlogo).png" />
      &nbsp;Crown hotel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
      aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="col-xl-2 col-lg-2"></div>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="adminindex.html" class="nav-link">관리자</a>
        </li>
        <li class="nav-item">
          <a href=".html" class="nav-link">예약</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
          id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false"
            >
            방 <i class="ti-angle-down"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="room_list.html"> 방 소개</a>

            <a class="dropdown-item" href="room_classic.html">Classic</a>
            <a class="dropdown-item" href="room_deluxe.html">Deluxe</a>
            <a class="dropdown-item" href="room_family.html">Family</a>
            <a class="dropdown-item" href="room_superior.html">Superior</a>
            <a class="dropdown-item" href="room_suite.html">Suite</a>
            <a class="dropdown-item" href="room_luxury.html">Luxury</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            시설 <i class="ti-angle-down"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="facility_list.html">시설소개</a>

            <a class="dropdown-item" href="facility_pool.html">수영장</a>
            <a class="dropdown-item" href="facility_restaurant.html">식당</a>
            <a class="dropdown-item" href="facility_golf.html">골프장</a>

            <a class="dropdown-item" href="facilityhelth.html">헬스장</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            고객센터 <i class="ti-angle-down"></i>
          </a>
        
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            마이 페이지<i class="ti-angle-down"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="index.html">메인 페이지</a>
            <a class="dropdown-item" href="myBookList.html">
              예약 리스트 페이지</a>
            <a class="dropdown-item" href="getMyRoomBook.html">
              예약 자세히보기</a>
            <a class="dropdown-item" href="getROomStatus.html">
              현재 객실 상황</a>
            <a class="dropdown-item" href="getFacilityStaus.html">
              현재 시설 상황</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="login.html" class="nav-link">로그인</a>
        </li>


        <li class="nav-item">
          <a href="signUp.html" class="nav-link">로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<body>
  
    <div class="info">
        <img width="100px" src="/img/logo.png" />
    </div>

</header>
 


<body>


  <!-- Room Availability Section Begin -->
  <section class="room-availability spad">
      <div class="container">
          <div class="room-check">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="room-item">
                          <div class="room-pic-slider room-pic-item owl-carousel">
                              <div class="room-pic">
                                  <img src="/images/bed(15).jpg" alt="">
                              </div>
                              <div class="room-pic">
                                  <img src="/images/2bed(9).jpg" alt="">
                              </div>
                              <div class="room-pic">
                                  <img src="/images/2bed(8).jpg" alt="">
                              </div>
                          </div>           
                      </div>
                  </div>
               
                  <br>
          <div class="col-lg-6">
                        <div class="check-form">
                            <h2 >스위트 룸 예약</h2>
                            <form action="#">
                                <div class="datepicker">
                                    <div class="date-select">
                                        <p >예약일</p>
                                        <input type="text" class="datepicker-1" value="dd / mm / yyyy">
                                        <img src="img/calendar.png" alt="">
                                    </div>
                                    <div class="date-select to">
                                        <p >종료일</p>
                                        <input type="text" class="datepicker-2" value="dd / mm / yyyy">
                                        <img src="img/calendar.png" alt="">
                                    </div>
                                </div>
                                <div class="room-quantity">
                                    <div class="single-quantity">
                                        <p>어른</p>
                                        <div class="pro-qty"><input type="text" value="0"></div>
                                    </div>
                                    <div class="single-quantity">
                                        <p >아동</p>
                                        <div class="pro-qty"><input type="text" value="0"></div>
                                    </div>
                                    <div class="single-quantity last">
                                        <p>조식</p>
                                        <div class="pro-qty"><input type="text" value="0"></div>
                                    </div>
                                </div>
                                <div class="room-selector">
                                    <p >호수 선택</p>
                                    <select class="suit-select">
                                        <option selected>501</option>
                                        <option >502</option>
                                        <option value="">503</option>
                                    </select>
                                </div>
                                <button type="button" >예약하기 <i class="lnr lnr-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
          </div>
          <br><br><br><br><br><br><br><br>
          <div class="about-room">
              <div class="row">
                  <div class="col-lg-10 offset-lg-1">
                   
                  </div>
              </div>
             
          </div>
      </div>
  </section>
  <!-- Room Availability Section End -->
 
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">크라운 호텔</h2>
          <p>
            당신이 찾던 호텔 <br>
            최고의 서비스와 최고의 대우로 <br>
            여러분들의 편의와 만족을 드리는 <br>
            CROWN HOTEL.
          </p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate">
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">유용한 링크</h2>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="py-2 d-block">블로그</a>
            </li>
            <li>
              <a href="#" class="py-2 d-block">객실</a>
            </li>
            <li>
              <a href="#" class="py-2 d-block">편의 시설</a>
            </li>
            <li>
              <a href="#" class="py-2 d-block">기프트 카드</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">개인정보</h2>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="py-2 d-block">경력</a>
            </li>
            <li>
              <a href="#" class="py-2 d-block">회사 소개</a>
            </li>
            <li>
              <a href="#" class="py-2 d-block">문의하기</a>
            </li>
            <li>
              <a href="#" class="py-2 d-block">서비스</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">질문이 있으신가요?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
              </li>
              <li>
                <a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a>
              </li>
              <li>
                <a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
       
      </div>
    </div>
  </div>
</footer>
  <!-- Js Plugins -->
  <script src="js/jquery-3.3.1.min2.js"></script>
  <script src="js/bootstrap.min2.js"></script>
  <script src="js/jquery.magnific-popup.min2.js"></script>
  <script src="js/jquery-ui.min2.js"></script>
  <script src="js/jquery.nice-select2.min.js"></script>
  <script src="js/jquery.slicknav2.js"></script>
  <script src="js/owl.carousel2.min.js"></script>
  <script src="js/main2.js"></script>
  <script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.timepicker.min.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>
</body>

</html>