<html layout:decorate="~{layout2}">

<th:block layout:fragment="content">
	<section class="home-slider owl-carousel">
		<div class="slider-item"
			style="background-image: url(images/view\(1\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3 p111">
							<h1 class="p111">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2 class="p111">호텔 및 리조트</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item"
			style="background-image: url(images/view\(2\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="p111">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>레저를 즐기세요</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item"
			style="background-image: url(images/view\(3\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="p111">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>호텔 및 리조트</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item"
			style="background-image: url(images/view\(4\).jpg)">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate text-center">
						<div class="text mb-5 pb-3">
							<h1 class="p111">CROWN HOTEL에 오신 것을 환영합니다</h1>
							<h2>고급호텔을 만끽하세요</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<br />
	<br />

	<div class="container">
		<h2>게시판 글쓰기</h2>
		<form action="write.jsp" method="post">
			<div class="form-group">
				<label for="title">제목</label>
				<!-- placeholder 속성 입력한 데이터가 없는 경우 배경으로 나타난다.실제적으로 입력을 100자까지로 지정 -->
				<!-- required 속성을 설정하면 필수입력 사항이된다. -->
				<!-- pattern 속성을 이용한 정규표현식으로 데이터의 유효성 검사를 할 수 있다. -->
				<input type="text" class="form-control" id="title"
					placeholder="제목 입력(4-100)" name="title" maxlength="100"
					required="required" pattern=".{4,100}">
			</div>
			<div class="form-group">
				<label for="content">내용</label>
				<!--  여러줄의 데이터를 입력하고 하고자 할때 textarea 태그를 사용한다. -->
				<!--  textarea 안에 있는 모든 글자는 그대로 나타난다. 공백문자, tag, enter -->
				<textarea class="form-control" rows="5" id="content" name="content"
					placeholder="내용 작성"></textarea>
			</div>
			<div class="form-group">
				<label for="writer">작성자</label> <input type="text"
					class="form-control" id="writer" placeholder="작성자(2자-10자)"
					name="writer">
			</div>
			<button type="submit" class="btn btn-default">등록</button>
		</form>
	</div>
	<!-- Blog Section End -->
</th:block>

<th:block layout:fragment="script">

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min2.js"></script>
	<script src="js/bootstrap.min2.js"></script>
	<script src="js/jquery.magnific-popup.min2.js"></script>
	<script src="js/jquery-ui.min2.js"></script>
	<script src="js/jquery.nice-select2.min.js"></script>
	<script src="js/jquery.slicknav2.js"></script>
	<script src="js/owl.carousel2.min.js"></script>
	<script src="js/main2.js"></script>
	
</th:block>

</html>