<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Crown hotel</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="index3.less" />
        <link rel="stylesheet" href="index3.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
        <link rel="stylesheet" href="css/animate.css" />

        <link rel="stylesheet" href="css/owl.carousel.min.css" />
        <link rel="stylesheet" href="css/owl.theme.default.min.css" />
        <link rel="stylesheet" href="css/magnific-popup.css" />

        <link rel="stylesheet" href="css/aos.css" />

        <link rel="stylesheet" href="css/ionicons.min.css" />

        <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="css/jquery.timepicker.css" />

        <link rel="stylesheet" href="css/flaticon.css" />
        <link rel="stylesheet" href="css/icomoon.css" />
        <link rel="stylesheet" href="css/style.css" />
    
    </head>
    <body>
        <div class="info">
            <img width="100px" src="/img/logo.png" />
        </div>

        <nav
            class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
            id="ftco-navbar"
        >
            <div class="container">
                <a class="navbar-brand" href="index.html"
                    ><img width="30px" src="/img/am_logo_green.png" />
                    &nbsp;Crown hotel</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#ftco-nav"
                    aria-controls="ftco-nav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="oi oi-menu"></span> Menu
                </button>
                <div class="col-xl-2 col-lg-2"></div>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="plans.html" class="nav-link">예약하기</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                마이페이지 <i class="ti-angle-down"></i>
                            </a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a class="dropdown-item" href="blog.html"
                                    >내 예약 리스트 페이지</a
                                >
                                <a class="dropdown-item" href="single-blog.html"
                                    >내 방 예약 자세히보기</a
                                >
                                <a class="dropdown-item" href="single-blog.html"
                                    >내 시설 예약 자세히보기</a
                                >
                                <a class="dropdown-item" href="single-blog.html"
                                    >내 시설 취소 자세히보기</a
                                >
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                시설 소개 <i class="ti-angle-down"></i>
                            </a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a class="dropdown-item" href="plans.html"
                                    >방 예약 페이지</a
                                >
                                <a class="dropdown-item" href="single-blog.html"
                                    >시설 예약 페이지</a
                                >
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                고객센터 <i class="ti-angle-down"></i>
                            </a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a class="dropdown-item" href="blog.html"
                                    >1:1 문의 리스트</a
                                >
                                <a class="dropdown-item" href="single-blog.html"
                                    >1:1 문의 자세히보기</a
                                >
                                <a class="dropdown-item" href="blog.html"
                                    >1:1 문의 작성하기</a
                                >
                                <a class="dropdown-item" href="single-blog.html"
                                    >1:1 문의 수정하기</a
                                >
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                관리자 페이지<i class="ti-angle-down"></i>
                            </a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a class="dropdown-item" href="blog.html"
                                    >메인 페이지</a
                                >
                                <a
                                    class="dropdown-item"
                                    href="single-blog.html"
                                >
                                    예약 리스트 페이지</a
                                >
                                <a
                                    class="dropdown-item"
                                    href="single-blog.html"
                                >
                                    예약 자세히보기</a
                                >
                                <a
                                    class="dropdown-item"
                                    href="single-blog.html"
                                >
                                    현재 객실 상황</a
                                >
                                <a
                                    class="dropdown-item"
                                    href="single-blog.html"
                                >
                                    현재 시설 상황</a
                                >
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="login.html" class="nav-link">회원로그인</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->

        <section class="home-slider owl-carousel">
            <div
                class="slider-item"
                style="background-image: url(images/view\(1\).jpg)"
            >
                <div class="overlay"></div>
                <div class="container">
                    <div
                        class="row no-gutters slider-text align-items-center justify-content-center"
                    >
                        <div class="col-md-12 ftco-animate text-center">
                            <div class="text mb-5 pb-3">
                                <h1 class="mb-3">
                                    CROWN HOTEL에 오신 것을 환영합니다
                                </h1>
                                <h2>호텔 및 리조트</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="slider-item"
                style="background-image: url(images/view\(2\).jpg)"
            >
                <div class="overlay"></div>
                <div class="container">
                    <div
                        class="row no-gutters slider-text align-items-center justify-content-center"
                    >
                        <div class="col-md-12 ftco-animate text-center">
                            <div class="text mb-5 pb-3">
                                <h1 class="mb-3">
                                    CROWN HOTEL에 오신 것을 환영합니다
                                </h1>
                                <h2>우리와 함께하세요</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="slider-item"
                style="background-image: url(images/view\(3\).jpg)"
            >
                <div class="overlay"></div>
                <div class="container">
                    <div
                        class="row no-gutters slider-text align-items-center justify-content-center"
                    >
                        <div class="col-md-12 ftco-animate text-center">
                            <div class="text mb-5 pb-3">
                                <h1 class="mb-3">
                                    CROWN HOTEL에 오신 것을 환영합니다
                                </h1>
                                <h2>최고의 시설, 매너</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="slider-item"
                style="background-image: url(images/view\(4\).jpg)"
            >
                <div class="overlay"></div>
                <div class="container">
                    <div
                        class="row no-gutters slider-text align-items-center justify-content-center"
                    >
                        <div class="col-md-12 ftco-animate text-center">
                            <div class="text mb-5 pb-3">
                                <h1 class="mb-3">
                                    CROWN HOTEL에 오신 것을 환영합니다
                                </h1>
                                <h2>차별화된 호텔</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
<main>
 <style>
    body{
        padding: 0;
        margin: 0;
      }
      div{
        box-sizing: border-box;
      }
      
      /* alert badge */
      .circle{
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background-color: #ff0000;
        position: absolute;
        top: -5px;
        left: 110%;
      }
      
      /* 녹색 텍스트 */
      .green{
        color: #24855b;
      }
      
      .wrap{
        background-color: #F8F8F8;  
      }
      /* 녹색배경 */
      .greenContainer{  
        height: 132px;
        background-color: #24855b;    
        
        display: flex;
        align-items: flex-end;
        padding: 16px;
      }
      
      .greenContainer .name{
         font-size: 20px;
        font-weight: bold;
        color: #ffffff;
      } 
      .greenContainer .modify{
        margin-left: auto;
      }
      
      /* 단골상점 , 상품후기 , 적립금 박스 */
      .summaryContainer{
        background-color: white;  
        display: flex;  
        padding: 21px 16px;  
        height: 90px;
        margin-bottom: 10px;
      }
      /* 단골상점 , 상품후기 , 적립금 */
      .summaryContainer .item{
        flex-grow: 1
      }
      /* 녹색 숫자 */
      .summaryContainer .number{
        font-size: 19px;
        font-weight: bold;
        color: #24855b;
      }
      /* 텍스트 */
      .summaryContainer .item > div:nth-child(2){
        font-size: 13px;
      }
      
      /* ================== 주문/배송조회 박스 시작 ==================== */
      .shippingStatusContainer{
        padding: 21px 16px;
        background-color: white;
        margin-bottom: 10px;
      }
      
      /* 주문/배송조회 타이틀 */
      .shippingStatusContainer .title{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      
      /* 장바구니 결제완료 배송중 구매확정 [로우] */
      .shippingStatusContainer .status{
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
      }
      /* 장바구니 결제완료 배송중 구매확정 [아이템]  */
      .shippingStatusContainer .item{
        display: flex;
      }
      
      .shippingStatusContainer .number{
        font-size: 31px;
        font-weight: 500;
        text-align: center;
      }
      .shippingStatusContainer .text{
        font-size: 12px;
        font-weight: normal;
        color: #c2c2c2;
        text-align: center;
      }
      .shippingStatusContainer .icon{
        display: flex;
        align-items: center;
        padding: 20px;
        width: 16px;
        height: 16px;
      }
      
      
      /*=================== 주문목록 ~ 찜한상품 리스트 ==================*/
      .listContainer{  
        padding: 0;
        background-color: #ffffff;
        margin-bottom: 10px;
      }
      .listContainer .item{  
        display: flex;
        align-items: center;
        padding: 16px;
        color: black;
        text-decoration: none;  
        height: 56px;
        box-sizing: border-box;
      }
      .listContainer .icon{  
        margin-right: 14px;
      }
      .listContainer .text{
        font-size: 16px;
        position: relative;
      }
      .listContainer .right{
        margin-left: auto;
      }
      
      
      /*=================== 내지갑의 보유 적립금 들어가는 부분 ================*/
      .listContainer .smallLight{
        font-size: 14px;
        color: #c2c2c2;  
      }
      .listContainer .smallLight > span{
        margin-left: 10px;
      }
      
      .listContainer .right .blct{
        font-size: 14px;
        font-weight: bold;
        margin-right: 5px;
      }
      
      
      
      /* 공지사항 이용안내 고객센터 */
      .infoContainer{
        background-color: white; 
        display: flex;
        height: 100px;
        margin-bottom: 10px;    
      }
      
      .infoContainer .item{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 13px;
        text-decoration: none;
        color: black;
      }
      .infoContainer .item > div:first-child{
        margin-bottom: 2px;
      }
      
      
      
      /*  */
      .listContainer .item:hover{
      /*   background-color: #f8f8f8; */
      }
      .infoContainer .item:hover{
      /*   background-color: #f8f8f8; */
      }
    </style>

                        <!-- //section1 -->
                        <div class="wrap">
                            <div class="greenContainer">
                              <div>
                                <div class="grade">GOLD</div>
                                <div class="name">Jaden</div>
                              </div>    
                              <div class="modify">i</div>    
                            </div>
                            <div class="summaryContainer">
                              <div class="item">
                                  <div class="number">354</div>
                                  <div>단골상점</div>
                                </div>
                                <div class="item">
                                  <div class="number">354</div>
                                  <div>상품후기</div>
                                </div>
                                <div class="item">
                                  <div class="number">354</div>
                                  <div>적립금(BLCT)</div>
                                </div>
                            </div>  
                            <div class="shippingStatusContainer">
                              <div class="title">
                                주문/배송조회
                              </div>
                              <div class="status">
                                
                                <div class="item">
                                  <div>
                                    <div class="green number">6</div>
                                    <div class="text">장바구니</div>
                                  </div>
                                  <div class="icon"> > </div>
                                </div>     
                                <div class="item">
                                  <div>
                                    <div class="number">0</div>
                                    <div class="text">결제완료</div>
                                  </div>
                                  <div class="icon"> > </div>
                                </div>     
                                <div class="item">
                                  <div>
                                    <div class="green number">1</div>
                                    <div class="text">배송중</div>
                                  </div>
                                  <div class="icon"> > </div>
                                </div>     
                                <div class="item">
                                  <div>
                                    <div class="green number">3</div>
                                    <div class="text">구매확정</div>
                                  </div>
                                </div>     
                                
                              </div>
                              
                            </div>  
                            <div class="listContainer">
                              <a href="#" class="item">
                                  <div class="icon">ii</div>
                                  <div class="text">주문목록<span class="circle"></span></div>
                                  <div class="right"> > </div>
                              </a>
                              <a href="#" class="item">
                                  <div class="icon">ii</div>
                                  <div class="text">상품후기</div>
                                  <div class="right"> > </div>
                              </a>
                              <a href="#" class="item">
                                  <div class="icon">ii</div>
                                  <div class="text">상품문의</div>
                                  <div class="right"> > </div>
                              </a>
                              <a href="#" class="item">
                                  <div class="icon">ii</div>
                                  <div class="text">단골상점</div>
                                  <div class="right"> > </div>
                              </a>
                              <a href="#" class="item">
                                  <div class="icon">ii</div>
                                  <div class="text">찜한상품</div>
                                  <div class="right"> > </div>
                              </a>
                            </div>
                            <div class="listContainer">
                              <a href="#" class="item">
                                  <div class="icon">ii</div>
                                  <div class="text">
                                    <span>내지갑</span>
                                    <span class="smallLight">
                                      <span>|</span>
                                      <span>보유 적립금</span>
                                    </span>          
                                  </div>                
                                  <div class="right">
                                    <span class="blct">175 BLCT</span>
                                    > </div>
                              </a>
                              <a href="#" class="item">
                                  <div class="icon">ii</div>
                                  <div class="text">알림</div>
                                  <div class="right"> > </div>
                              </a>
                              <a href="#" class="item">
                                  <div class="icon">ii</div>
                                  <div class="text">설정</div>
                                  <div class="right"> > </div>
                              </a>   
                            </div>
                            <div class="infoContainer">
                              <a href="#" class="item">
                                <div>icon</div>
                                <div>공지사항</div>
                              </a>    
                              <a href="#" class="item">
                                <div>icos</div>
                                <div>이용안내</div>
                              </a>    
                              <a href="#" class="item">
                                <div>icon</div>
                                <div>고객센터</div>
                              </a>
                            </div>
                          </div>
                        </main>
                <!-- //parallax__cont -->
                <!-- //parallax__scrollTop -->

                <script>
                    const parallaxItem =
                        document.querySelectorAll(".content__item");
                    const parallaxNav = document.querySelectorAll(
                        "#parallax__nav ul li"
                    );
                    let lastScrollTop = 0;

                    function scrollNav() {
                        document
                            .querySelectorAll("#parallax__nav ul li a")
                            .forEach((li, index) => {
                                li.addEventListener("click", (e) => {
                                    e.preventDefault();
                                    document
                                        .querySelector(li.getAttribute("href"))
                                        .scrollIntoView({ behavior: "smooth" });
                                });
                            });
                    }

                    function scroll() {
                        let scrollTop =
                            window.pageYOffset ||
                            document.documentElement.scrollTop ||
                            window.scrollY;

                        if (scrollTop <= lastScrollTop) {
                            document
                                .querySelector("#parallax__nav")
                                .classList.add("show");
                        } else {
                            document
                                .querySelector("#parallax__nav")
                                .classList.remove("show");
                        }
                        lastScrollTop = scrollTop;

                        parallaxItem.forEach((element, index) => {
                            if (scrollTop >= element.offsetTop - 10) {
                                parallaxNav.forEach((li) =>
                                    li.classList.remove("active")
                                );
                                parallaxNav[index].classList.add("active");
                            }
                        });

                        document.querySelector(
                            ".parallax__scrollTop span"
                        ).innerText = Math.round(scrollTop);
                    }

                    window.addEventListener("scroll", scroll);
                    scrollNav();
                </script>
            </body>
        </html>
        <footer class="ftco-footer ftco-bg-dark ftco-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">크라운 호텔</h2>
                            <p>
                                당신이 찾던 호텔 <br>
                                최고의 서비스와 최고의 대우로 <br>
                                여러분들의 편의와 만족을 드리는 <br>
                                CROWN HOTEL.
                            </p>
                            <ul
                                class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
                            >
                                <li class="ftco-animate">
                                    <a href="#"
                                        ><span class="icon-twitter"></span
                                    ></a>
                                </li>
                                <li class="ftco-animate">
                                    <a href="#"
                                        ><span class="icon-facebook"></span
                                    ></a>
                                </li>
                                <li class="ftco-animate">
                                    <a href="#"
                                        ><span class="icon-instagram"></span
                                    ></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4 ml-md-5">
                          <h2 class="ftco-heading-2">유용한 링크</h2>
                          <ul class="list-unstyled">
                            <li>
                              <a href="#" class="py-2 d-block">블로그</a>
                            </li>
                            <li>
                              <a href="#" class="py-2 d-block">객실</a>
                            </li>
                            <li>
                              <a href="#" class="py-2 d-block">편의 시설</a>
                            </li>
                            <li>
                              <a href="#" class="py-2 d-block">기프트 카드</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                          <h2 class="ftco-heading-2">개인정보</h2>
                          <ul class="list-unstyled">
                            <li>
                              <a href="#" class="py-2 d-block">경력</a>
                            </li>
                            <li>
                              <a href="#" class="py-2 d-block">회사 소개</a>
                            </li>
                            <li>
                              <a href="#" class="py-2 d-block">문의하기</a>
                            </li>
                            <li>
                              <a href="#" class="py-2 d-block">서비스</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                          <h2 class="ftco-heading-2">질문이 있으신가요?</h2>
                          <div class="block-23 mb-3">
                            <ul>
                              <li>
                                <span class="icon icon-map-marker"></span
                                ><span class="text"
                                  >203 Fake St. Mountain View, San Francisco, California,
                                  USA</span
                                >
                              </li>
                              <li>
                                <a href="#"
                                  ><span class="icon icon-phone"></span
                                  ><span class="text">+2 392 3929 210</span></a
                                >
                              </li>
                              <li>
                                <a href="#"
                                  ><span class="icon icon-envelope"></span
                                  ><span class="text">info@yourdomain.com</span></a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center"></div>
                    </div>
                  </div>
                </footer>

        <!-- loader -->
       
        <script src="my.js"></script>

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/jquery.animateNumber.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/jquery.timepicker.min.js"></script>
        <script src="js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="js/google-map.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
